.fc-event-title {
    white-space: normal;
    word-break: break-word;
    line-height: 1.2;
  }


  .fc-event-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }


  .fc-custom-event:hover {
    background: none !important; /* remove background change */
    box-shadow: none !important; /* remove any shadow */
    background-color: white !important; /* prevent hover background change */
  }

  .fc-event:hover {
    background: none !important; /* remove background change */
    box-shadow: none !important; /* remove any shadow */
    background-color: white !important; /* prevent hover background change */
  }